Source: swift-utils
Section: misc
Priority: extra
Maintainer: Filippo Giunchedi <fgiunchedi@wikimedia.org>
Homepage: https://phabricator.wikimedia.org/diffusion/OSSU/
Vcs-Git: https://gerrit.wikimedia.org/r/operations/software/swift-utils
Vcs-Browser: https://phabricator.wikimedia.org/diffusion/OSSU/repository/master/
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: swift-utils
Architecture: all
Depends: ${misc:Depends}
Description: Support utilities for swift
 Collection of scripts to support swift operations at WMF
